.banner {
  background-image: url('https://cdnb.artstation.com/p/assets/covers/images/015/309/075/large/carter-pytel-jungletexture.jpg?1547868024') !important;
  display: inline-block;
  content: 100%;
  padding-right: 75%;
}
  
h1 {
  color: rgb(255, 255, 255);
  }
  
li {
  float: left;
}

a {
  color: white;
  font-size: 20px;
  margin: 5px;
  display: inline-block;
}